.sidebar {
    background: #1e1e1e;
}

.subheader-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: unset !important;
}

.join-button {
    justify-content: flex-end;
}