.sidebar {
    background: linear-gradient(23deg, #141f29, #2d465d);
}

.subheader-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0px !important;;
}

.join-button {
    justify-content: flex-end;
}