@font-face {
  font-family: 'Comfortaa';
  src: url('static_fonts/Comfortaa/Comfortaa-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('static_fonts/Comfortaa/Comfortaa-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display:none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
